@using Microsoft.AspNet.Identity
@model List<FinalProject.WEB.Models.MessageViewModel>
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<div style="overflow:scroll; height:800px;">
    @foreach (var message in Model)
    {
        <p class="text-left" width="40%">@message.ChatUsers[0].FirstName: @message.Text</p>
    }

</div>
